/* CSS RESETS */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* GLOBAL STYLES */
html {
	font-family: 'Lato', Helvetica, sans-serif;
	font-size: 16px;
}
h1 {
	font-size: 2.827em;
}
h3 {
	font-size: 1.414em;
}
/* HEADER STYLES */
 header {
 	margin-bottom: 40px;
 	margin-top: 15px;
 }
 .heading {
 	text-align: center;
 	letter-spacing: 3px;
 	font-weight: bolder;
 	color: #1c7ed6;
 }
.blue {
	color: #1c7ed6;
	letter-spacing: 3px;
}
/* BODY STYLES*/
article {
	margin: 0 auto;
}
.learn-card, .share-card {
	display: flex;
	justify-content:space-between;
	align-items: center;
	-webkit-box-shadow: 0 10px 6px -6px #777;
       -moz-box-shadow: 0 10px 6px -6px #777;
            box-shadow: 0 10px 6px -6px #777;
    margin-bottom: 35px;
    width: 80%;
    text-align: center;
    line-height: 1.6; 
    background-color: #1c7ed6;
    color: white;
    font-weight: bold;
}
 .share-card img, .learn-card img {
 	background-color: white;
 	padding: 10px;
 	padding-bottom: 5px;
}
.share-card h3, .learn-card h3 {
	margin-right: 10px;
	text-align: center;
	margin-left: 10px;
}
button {
	border: none;
	border-radius: 5px;
	cursor: pointer;
}
.buttons {
	display: flex;
	flex-direction: column;
}
.buttons button {
	width: 80%;
	margin: 0 auto;
	margin-bottom: 20px;
	background-color: #1c7ed6;
	padding: 10px;
	height: 40px;
}
button p {
	color: white;
	font-size: 1em;
}
.question-status {
	display: table-cell;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 1px solid #1c7ed6;
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
	color: #1c7ed6;8 
}
.question-done {
	font-size: 1.6em;
}
.float-right {
	float: right;
	margin-right: 20px;
}
.clearfix {
	clear: both;
}
.question-container {
	line-height: 1.6;
	width: 80%;
}
.question, .option1,.option2 {
	text-align: center;
	border:1px solid #1c7ed6;
	border-radius: 10px;
	padding:10px;
}
.or {
	text-align: center;
	margin-top: 15px;
	
}
.question {
	margin-top: 30px;
	margin-bottom: 30px;
}
.option1, .option2 {
	margin-top: 15px;
	cursor: pointer;
	padding: 10px;
	font-weight: bold;
}
b{
	font-weight: bolder;
}
article#results p#score {
	text-align: center;
	font-weight: bold;
	font-size: 1.4em;
	margin-bottom: 2em;
	line-height: 1.4;
	font-weight: normal;
}
article#results h2#revisit {
	text-align: center;
	margin-top: 1em 0 ;
	font-weight: bold;
	font-size: 1.4em;
	
}
article#results p#words {
	font-weight: normal;
	font-size: 1.2em;
	padding: 1em;
	line-height: 1.5;
}
@keyframes rotate {
	to {
	 transform: rotate(1turn)
	}
   }
   
   .loading-anim {
	  width: 35px;
	  height: 35px;
	  display: inline-block;
	  border: 5px solid rgba(189,189,189 ,0.25);
	  border-left-color: rgba(3,155,229 ,1);
	  border-top-color: rgba(3,155,229 ,1);
	  border-radius: 50%;
	  animation: rotate 600ms infinite linear;
   }
   .center-loader{
	   display: flex;
	   align-items: center;
	   justify-content: center;
   }
   .display-hidden {
	   display: none !important;
   }
   .login {
	   text-align: center
   }
   .login-link {
	   color: rgba(3,155,229 ,1);
   }
   a:-webkit-any-link {
	   text-decoration: none;
   }
   a .login-link:hover {
	   color: black;
	   text-decoration: underline;
   }
   body .width-80 {
	   width: 50%;
   }
   .center {
	   display: flex;
	   justify-content: center;
	   align-items: center
   }
   .green {
	   color: green;
   }
   .red {
	   color: red;
   }
/* FOOTER STYLES */


